* {
	font-family: JetBrainsMonoNL Nerd Font;
	font-size: 13px;
	font-weight: bold;
	border-radius: 100;
}

window#waybar {
	background-color: rgba(27, 29, 34, 0.17);
	color: #ffffff;
}

window#waybar > box {
	padding: 5px 15px 5px 15px;
}

button {
	box-shadow: inset 0 -3px transparent;
	border: none;
	border-radius: 0;
}

button:hover {
	background: inherit;
	box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
	background-color: transparent;
	color: #ffffff;
}

#workspaces button.active {
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 100;
}

#workspaces button:hover {
	box-shadow: none;
}

#battery.charging, #battery.plugged {
	color: #b8ffd5;
}

#battery.critical:not(.charging) {
	color: #ffb8b8;
}
